*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}
body{
  background: #191919;
}
.galary{
  width: 900px;
  display: flex;
  overflow-x: scroll;
}

.galary div{
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 10px;
  flex: none;
}

.galary div img{
  width: 100%;
   filter: grayscale(100%);
   transition: transform 0.5s;
}

.galary::-webkit-scrollbar{
  display: none;
}

.galary-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10% auto;
}

#backBtn, #nxtBtn{
  width: 50px;
  margin: 40px;
  cursor: pointer;
}

.galary div img:hover{
  filter: grayscale(0);
  cursor: pointer;
  transform: scale(1.1);
}
